@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HelveticaNeueHv";
  src: url("../public/fonts/HelveticaNeueHv.ttf");
}

@font-face {
  font-family: "HelveticaNeueIt";
  src: url("../public/fonts/HelveticaNeueIt.ttf");
}

@font-face {
  font-family: "HelveticaNeueMed";
  src: url("../public/fonts/HelveticaNeueMed.ttf");
}

.custom-img {
  background-image: url('../public/images/hero_1.jpg')
}