@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HelveticaNeueHv";
  src: url("../public/fonts/HelveticaNeueHv.ttf");
}

@font-face {
  font-family: "HelveticaNeueIt";
  src: url("../public/fonts/HelveticaNeueIt.ttf");
}

@font-face {
  font-family: "HelveticaNeueMed";
  src: url("../public/fonts/HelveticaNeueMed.ttf");
}

.custom_img {
  background-image: url('../public/images/hero_1.jpg')
}

.custom_img_2 {
  background-image: url('../public/images/hero_2.jpg')
}

.header_1 {
  @apply text-yellow font-header text-7xl lg:text-8xl
}

.header_2 {
  @apply text-yellow font-header text-4xl lg:text-5xl
}

.subheader_1 {
  @apply text-white font-header text-2xl md:text-3xl
}

.subheader_2 {
  @apply text-white font-italic text-2xl md:text-3xl
}

.body_text {
  @apply text-white font-body text-base md:text-lg
}

.btn {
  @apply bg-white rounded-lg py-2 px-3 font-body text-blue
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0A57A7;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FFC705;
}